<div class="d-flex flex-column h-100">

    <div *ngIf="warningMessage != null" class="alert alert-warning alert-dismissible mt-3">
        {{warningMessage}}

        <button type="button" class="close" aria-label="Close" (click)="dismissMessages()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div *ngIf="errorMessage != null" class="alert alert-danger alert-dismissible mt-3">
        {{errorMessage}}

        <button type="button" class="close" aria-label="Close" (click)="dismissMessages()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="center-content position-relative">
        <div *ngIf="buttonText != null" class="button-overlay center-content">
            <button type="button" class="btn btn-primary" [disabled]="!buttonEnabled" (click)="connectSensor()">{{buttonText}}</button>
        </div>

        <div *ngIf="heartRate != null" class="button-overlay center-content heart-rate">
            {{heartRate}}
        </div>

        <div>
            <i class="bi-heart-fill"></i>
        </div>

        <button *ngIf="canDisconnect" type="button" class="close close-button" aria-label="Close" (click)="disconnect()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

</div>