
.bi-heart-fill{
    color: red;
    font-size: 5rem;
}

.heart-rate{
    font-size: 3rem;
}

.button-overlay{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    &.disabled,
    &:disabled {
        opacity: 1;
    }
}
